 .root{
    -fx-font-family: "Courier New";
    -fx-base: #ffffff;
    -fx-background: #ffffff;
}
 .button {
    -fx-background-color: #00CDCD;
}
.chart-content {
	-fx-background-color: #ffffff;
}
.chart {
    -fx-padding: 10px;
    -fx-background-color: #ffffff;
}
.chart-plot-background {
    -fx-background-color: #ffffff;
}
.chart-vertical-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #3278fa;
}
.default-color0.chart-series-line { -fx-stroke: #00CDCD; }
